body {
    background: linear-gradient(90deg, #FDBB2D 0%, #3A1C71 100%);
    color: white;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
    font-size: 20px;
}

img {
    max-width: 250px;
    height: auto;
}

h2 {
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 100px;
}

.langs {
    display: flex;
    justify-content: center;
    align-items: center;
}
div {
    margin: 10px;
}